<h1 class = "ui header"> Meet Digital Sloth. </h1>
<br>
<br>
<div class = "ui five column grid">
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onDanielaHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img class = "ui image" src = "/assets/images/daniela_headshot.jpg">
		</div>
		<h3>Daniela Arcese</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onTomHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/tom_headshot.jpg">
		</div>
		<h3>Tom Machado</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onMikeHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/mike_headshot.jpg">
		</div>
		<h3>Michael Romao</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onNickHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/nick_headshot.jpg">
		</div>
		<h3>Nicholas Van Bommel</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onDanaHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/dana_headshot.jpg">
		</div>
		<h3>Dana Zagar</h3>
	</div>
</div>
	<div class = "description">
		{{#if danielaHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Daniela is currently pursuing her degree in Software Engineering, and enjoys pasta.</p>
			</div>
		{{else if tomHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Tom is a sarcastic but lovable undergraduate software engineering student, who enjoys anything about Overwatch. His dancing is legendary and he is a meme lord.</p>
			</div>
		{{else if mikeHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Mike is the dad of the team, passionately pursuing his B.ESc in Software Engineering. He unsurprisingly enjoys mayonnaise packaged in micro-sized jars.</p>
			</div>
		{{else if nickHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Nicholas loves long walks to the fridge, button-up shirts, and venting. He is not skilled at following verbal directions while driving, but thankfully is very skilled in the art of software engineering, which he is currently studying. </p>
			</div>
		{{else if danaHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Dana is boring and mean to her friends. </p>
			</div>
		{{else}}

		{{/if}}
	</div>
