<h1 class = "ui header"> Meet Digital Sloth. </h1>
<br>
<br>
<div class = "ui five column grid">
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onDanielaHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img class = "ui image" src = "/assets/images/daniela_headshot.jpg">
		</div>
		<h3>Daniela Arcese</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onTomHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/tom_headshot.jpg">
		</div>
		<h3>Tom Machado</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onMikeHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/mike_headshot.jpg">
		</div>
		<h3>Michael Romao</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onNickHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/nick_headshot.jpg">
		</div>
		<h3>Nicholas Van Bommel</h3>
	</div>
	<div class = "column">
		<div class = "ui segment headshot" onMouseEnter = {{action 'onDanaHover'}} onMouseLeave = {{action 'onHoverAway'}}>
			<img src = "/assets/images/dana_headshot.jpg">
		</div>
		<h3>Dana Zagar</h3>
	</div>
</div>
	<div class = "description">
		{{#if danielaHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Daniela is currently pursuing her degree in Software Engineering.</p>
			</div>
		{{else if tomHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Tom is an undergraduate software engineering student.</p>
			</div>
		{{else if mikeHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Mike is currently pursuing his B.ESc in Software Engineering.</p>
			</div>
		{{else if nickHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Nicholas is an undergraduate software engineering student.</p>
			</div>
		{{else if danaHover}}
			<div class = "ui raised segment">
				<p class = "ui text"> Dana is currently pursuing her B.ESc in Software Engineering.</p>
			</div>
		{{else}}

		{{/if}}
	</div>
