<div class="ui modal">
      <div class="header">Add Courses</div>
      {{#if donePopulating}}
        {{#ui-dropdown   class="fluid multiple selection" selected=[selectedCourses] onChange=(action (mut selectedCourses))}}
            <input type="hidden" name="source" value={{selectedCourses}}>
            <i class="dropdown icon"></i>
            <div class="default text">Select Courses</div>
            <div class="menu">
              {{#each coursesModel as |course|}}
                  <div class="item" data-value= {{course.id}}>
                  {{course.courseLetter}}{{course.courseNumber}} 
                </div>
              {{/each}}
            </div>
        {{/ui-dropdown}}
      {{/if}}
<br>

    <div class="ui inverted cstmTurq button" {{action "done"}}>
      Done
    </div>
</div>