<div class="ui small basic modal">
  <div class="header">Add Student</div>
<!--
  <div class="ui form">
  	<div class="inline field">
            <label>Student Number</label>
            {{input size="10" type="number" value = number}}
     </div>
     <div class="inline field">
            <label>First Name</label>
            {{input type="text" value = firstName}}
     </div>
     <div class="inline field">
            <label>Last Name</label>
            {{input type="text" value = lastName}}
     </div>
     <div class="inline field">
            <label>Gender</label>
            <select id="ddlGender" onchange={{action 'selectGender' value = "target.value"}}>
              <option value=1 selected={{eq 1 gender}}>Male</option>
              <option value=2 selected={{eq 2 gender}}>Female</option>
            </select>
     </div>
     <div class="inline field">
            <label>Date of Birth</label>
            <input value= {{DOB}} type="date" onchange={{action 'selectDate' value = "target.value"}} >
     </div>
     <div class="inline field">
            <label>Residency</label>
            <select id="ddlResidency" onchange = {{action 'selectResidency' value = "target.value"}}>
              {{#each residencyModel as |residencyChoice|}}
                <option value={{residencyChoice.id}} selected={{eq resInfo.id residencyChoice.id}}>{{residencyChoice.name}} </option>
              {{/each}}
            </select>
     </div>
  </div>
  -->
  <div class="ui inverted form">
    <div class="field">
      <label>Student Number</label>
      {{input size="10" type="number" placeholder="Student Number" value = number}}
    </div>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          {{input type="text" placeholder="First Name" value = firstName}}
        </div>
        <div class="field">
          {{input type="text" placeholder="Last Name" value = lastName}}
        </div>
      </div>
    </div>
    <div class="field">
      <label>Date of Birth</label>
      {{input type="date" placeholder="Date of Birth" value = DOB}}
    </div>
    <div class="two fields">
      <div class="field">
        <label>Gender</label>
        {{#ui-dropdown class="selection" selected=val onChange=(action 'log' val) as |execute mapper|}}
          <div class="default text">Gender</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each genderModel as |gender|}}
              <div class="item" data-value="{{map-value mapper gender.id}}">{{gender.name}}</div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="field">
        <label>Residency</label>
        {{#ui-dropdown class="selection"}}
          <div class="default text">Residency</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each residencyModel as |residency|}}
              <div class="item" data-value="{{residency.id}}">{{residency.name}}</div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="ui button" {{action "addStudent"}}>
    	Add
    </div>
    <div class="ui button" {{action "cancel"}}>
    	Cancel
    </div>
  </div>
</div>

