<div class="ui stackable container inverted six item menu">
    <a class="item" {{action 'firstPage'}}>
      <i class="step backward icon"></i>
      First
    </a>
    <a class="item" {{action 'previousPage'}}>
      <i class="arrow left icon"></i>
      Previous
    </a>
    <a class="item" {{action 'nextPage'}}>
      <i class="arrow right icon"></i>
      Next
    </a>
    <a class="item" {{action 'lastPage'}}>
      <i class="step forward icon"></i>
      Last
    </a>
    <a class="item" {{action 'findStudent'}}>
      <i class="search icon"></i>
      Find Record
    </a>
    <a class = "item" {{action 'createStudent'}}>
      <i class="add user icon"></i>
      Add Student
    </a>
  </div> 

<!--
  <div class="ui button" {{action 'back'}}>
    <i class="arrow left icon"></i>Back
  </div>
  -->
  
  <div class="ui vertically padded grid">
    {{#each studentsRecords as |student index|}}
      <div class="eight wide column">
        <div class="ui fluid labeled icon button" {{action "selectStudent" student index}}>
          <img class="ui avatar image icon" src={{student.photo}}>
          {{student.firstName}} {{student.lastName}}
        </div>
      </div>
    {{/each}}
  </div>
  
  