
<h2>Find Student By:</h2>
<div class="content">
 <div class="ui right aligned  seven wide column">
  <div class="ui relaxed items form">
    <div class=" item inline field">
      <label>Student Number</label>
      <input size="10" type="number" id="studentNumber" class="text"/>
    </div>
    <div class="item inline field">
      <label>First Name</label> 
      <input type="text" id="firstName" class="text"/>
    </div>
    <div class="item inline field">
      <label>Last Name</label> 
      <input type="text" id="lastName" class="text"/>
    </div>
  </div>
</div>
<div class="actions">
  <div class="ui button" {{action "search"}}>Search</div>
  <div class="ui button" {{action "exit"}}>Cancel</div>
  <div class="ui button" {{action "clear"}}>Clear</div>
</div>
<br>
{{#each findResults as |oneStudent|}}
<div class="ui grid">
  <div class="ten wide column">
    <div class="actions">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="Frank;)">
                <label>{{oneStudent.studentNumber}} {{oneStudent.firstName}}
                  {{oneStudent.lastName}}  
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
    </div>
  </div>

  {{/each}}
</div>


