
  <div class="header">Find Student By:</div>
  <div class="content">
  	<div>
  		<label>Student Number</label>
  		<input id="studentNumber" class="text"/>
  	</div>
  	<div>
  		<label>First Name</label>
  		<input id="firstName" class="text"/>
  	</div>
  	<div>
  		<label>Last Name</label>
  		<input id="lastName" class="text"/>
  	</div>
    <div class="actions">
          <div class="ui button" {{action "search"}}>Search</div>
          <div class="ui button" {{action "exit"}}>Cancel</div>
          <div class="ui button" {{action "clear"}}>Clear</div>
    </div>
    {{#each findResults as |oneStudent|}}
          <div class="ui grid">
        <div class="ten wide column">
          <div class="actions">
            <div class="ui form">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="Frank;)"
                           >
                    <label>{{oneStudent.number}} {{oneStudent.firstName}}
                      {{oneStudent.lastName}}  </label>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
        </div>
      </div>
                 
    {{/each}}
  </div>


