
<div class="content">
	<div class="ui relaxed items form">
	Select criteria:
		<div class=" item inline field">
			<select id="criteria" class="ui dropdown" onchange={{action 'selectCategory' value='target.value'}}>
				<!-- <option value="">Select a Criteria</option> -->
				<option value="-1">Other</option>
				{{#each categoryModel as |category index|}}
        		<option value={{index}}>{{category.name}}</option>
      			{{/each}}
			</select>
			<select id="term" class="ui dropdown" onchange={{action 'selectTerm' value='target.value'}}>
      			{{#each termModel as |semester index|}}
        		<option value={{index}}>{{semester.name}}</option>
      			{{/each}}
    		</select>
			<div class="ui primary button" {{action 'generateReport'}}>Generate Report</div>
		</div>
		<a class="open" href='/assets/test.pdf' target="_blank"><div class="ui button">Open as PDF</div></a>
		<a class="open" href='/assets/test.pdf' download><div class="ui button">Open as Excel</div></a>

		<div id="chart">
			{{#if (eq currentCategory -1)}}
				{{ember-chart type='bar' data=graduateChartData options= options height=100}}
			{{else}}
				{{ember-chart type='pie' data=graduateChartData options= options height=100}}
			{{/if}}

		</div>
	</div>
	
	<!-- <div class="ui relaxed grid">
		<div id="chart" class="two column row">
			<div class="column">
				{{ember-chart type='pie' data=graduateChartData options= options height=300}}
				<h3>Graduates</h3>
			</div>
			<div class="column">
				{{ember-chart type='pie' data=nonGraduateChartData options= options height=300}}
				<h3>Non-Graduates</h3>
			</div>

		</div>
	</div> -->
</div>

