<div class="ui grid">
  <div class="three wide column">
    <div class="ui violet vertical pointing menu container">
      <a class="item active" {{action "home"}}>
        <i class="large home icon"></i>
        Home
      </a>
      <a class="item" {{action "studentsDataEntry"}}>
        <i class="large leanpub icon"></i>
        Students Records
      </a>
      <a class="item" {{action "SystemCodes"}}>
        <i class="large settings icon"></i>
        System Codes        
      </a>
      <a class="item" {{action "import"}}>
        <i class="large upload icon"></i>
        Import New Records        
      </a>
      <a class="item " {{action "about"}}>
        <i class="large user icon"></i>
        About
      </a>
    </div>
  </div>
  <div class="thirteen wide column ">
    <div class="ui segment container">
      {{#if isHomeShowing}}
        {{welcome-page}}
      {{else if isStudentsRecordsDataEntry}}
        {{student-data-entry}}
      {{else if isAboutShowing}}
        {{about-us}}
      {{else if isSystemCodesShowing}}
        {{system-codes}}
      {{else if isImportShowing}}
        {{initial-import}}
      {{/if}}
    </div>
  </div>
</div>