<div class="appBody ui middle aligned one column centered grid" style = "margin-bottom:50px;">
    <div class="ui fixed inverted stackable container seven item menu">
      <div class = "ui container ">
        <p class = "header item" style = "pointer-events: none;">
        <img class="logo" src="/assets/images/UWO Stacked_Rev.png" data-pin-nopin = "true">
        WE Adjudication
        </p>
        <a class="item active" {{action "home"}}>
          <i class="large home icon"></i>
          Home
        </a>
        <a class="item" {{action "studentsDataEntry"}}>
          <i class="large leanpub icon"></i>
          Students Records
        </a>
        <a class="item" {{action "SystemCodes"}}>
          <i class="large settings icon"></i>
          System Codes        
        </a>
        <a class="item" {{action "import"}}>
          <i class="large upload icon"></i>
          Import New Records        
        </a>
        <a class="item " {{action "about"}}>
          <i class="large user icon"></i>
          About
        </a>        
        <a class="item" {{action "admin"}}>
          <i class="large user icon"></i>
          Admin Portal
        </a>
      </div>
    </div>

    <div class="ui basic segment container">
      {{#if isHomeShowing}}
        {{welcome-page studentDataEntry = (action 'studentsDataEntry')}}
      {{else if isStudentsRecordsDataEntry}}
        {{student-data-entry}}
      {{else if isAboutShowing}}
        {{about-us}}
      {{else if isSystemCodesShowing}}
        {{system-codes}}
      {{else if isImportShowing}}
        {{initial-import}}
      {{/if}}
      {{#if isStudentsRecordsShowing}}
        {{student-records}}
      {{/if}}
    </div>

</div>