{{#if showDeleteConfirmation}}
{{delete-data-confirmation notDONE = showDeleteConfirmation isImporting = importData}}
{{else if importData}}
<div class="ui grid">
	<div class="four wide column">
		<div class="ui violet vertical pointing menu">
			<a class="item active" {{action "setIndex" 0}}>
				Import Genders
			</a>
			<a class="item" {{action "setIndex" 1}}>
				Import Residencies
			</a>
			<a class="item" {{action "setIndex" 2}}>
				Import Term Codes
			</a>
			<a class="item" {{action "setIndex" 3}}>
				Import Course Codes
			</a>
			<a class="item" {{action "setIndex" 4}}>
				Import Students
			</a>
		</div>
	</div>
	<div class="ten wide column ">
		<div class="ui segment container">
			<input type="file" id = "newFile" onchange = {{action 'import'}}>
		</div>
	</div>
</div>
{{else}}
<a item = "item" {{action 'showEraseDataModal'}}>
	Import Student Data...
</a>
{{/if}}

