{{#if showDeleteConfirmation}}
{{delete-data-confirmation notDONE = showDeleteConfirmation isImporting = importData}}
{{else if importData}}

<div class="ui grid">
	<div class="five wide column">
		<div class="ui violet vertical fluid tabular menu">
			<a class="item active" {{action "setIndex" value = 0}}>
				Import Genders
			</a>
			<a class="item" {{action "setIndex" value = 1}}>
				Import Residencies
			</a>
			<a class="item" {{action "setIndex" value = 2}}>
				Import Term Codes
			</a>
			<a class="item" {{action "setIndex" value = 3}}>
				Import Course Codes
			</a>
			<a class="item" {{action "setIndex" value = 4}}>
				Import Students
			</a>
			<a class="item" {{action "setIndex" value = 5}}>
				Import Secondary Schools
			</a>
			<a class="item" {{action "setIndex" value = 6}}>
				Import Student Highschool Information
			</a>
			<a class="item" {{action "setIndex" value = 7}}>
				Import Awards and Scholarships
			</a>
			<a class="item" {{action "setIndex" value = 8}}>
				Import Advanced Standings
			</a>
			<a class="item" {{action "setIndex" value = 9}}>
				Import Undergraduate Record Plans
			</a>
			<a class="item" {{action "setIndex" value = 10}}>
				Import Undergraduate Course Grades
			</a>
		</div>
	</div>
	<div class="ten wide stretchered column ">
		<div class="ui segment">
			<input type="file" id = "newFile" onchange = {{action 'import'}}>
		</div>
	</div>
</div>
{{else}}
<a item = "item" {{action 'showEraseDataModal'}}>
	Import Student Data...
</a>
{{/if}}

