{{#if showDeleteConfirmation}}
{{delete-data-confirmation notDONE = showDeleteConfirmation isImporting = importData}}
{{else if importData}}

<div class="ui grid">
	<div class="six wide column">
		<div class="ui violet small vertical steps">
			<a id="gender" class="active step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Genders</div>
	    		</div>
			</a>
			<a id="residencies" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Residencies</div>
	    		</div>
			</a>
			{{!--<a id="termCodes" class=" step" {{action "setIndex" 3 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Term Codes</div>
	    		</div>
			</a>--}}
			<a id="courseCodes" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Course Codes</div>
	    		</div>
			</a>
			<a id="students" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Students</div>
	    		</div>
			</a>			
			<a id="awards" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Awards and Scholarships</div>
	    		</div>
			</a>
			<a id="advancedStandings" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Advanced Standings</div>
	    		</div>
			</a>
			<a id="registrationComments" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Registration Comments</div>
	    		</div>
			</a>
			<a id="basisOfAdmission" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Basis of Admission</div>
	    		</div>
			</a>
			<a id="admissionAverage" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Admission Average</div>
	    		</div>
			</a>
			<a id="admissionComments" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Admission Comments</div>
	    		</div>
			</a>
			<a id="secondary" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Secondary Schools</div>
	    		</div>
			</a>
			<a id="highschoolInfo" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Secondary School Information</div>
	    		</div>
			</a>
			<a id="recordPlans" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Undergraduate Record Plans</div>
	    		</div>
			</a>
			<a id="courseGrades" class="disabled step">
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Undergraduate Course Grades</div>
	    		</div>
			</a>
		</div>
	</div>
	<div class="ten wide stretchered column ">
		<div>
			<label>{{{fileFormat}}}</label>
		</div>
		<div class="ui segment">
			<input type="file" id = "newFile">
			<button class="ui primary button" {{action 'import' }}>
  				Import File
			</button>
			<button id="btnContinue" class="ui primary button disabled" {{action 'continue' }}>
  				Continue
			</button>
		</div>
		<div>
			{{#if importInProgress}}
				{{#ui-progress value = progressVal progress = progressVal total = 100}}
					<div class="bar">
					  <div class="progress"></div>
					</div>
					<div class = "label">{{{fileOutput}}}</div>
				{{/ui-progress}}
			{{/if}}
		</div>
	</div>
</div>
{{else}}
<div class = "ui grid">
	<div class = "column ui yellow segment">
		<p>
			To import new data, you must delete all old data. This action is irreversible, so be sure you are ready before proceeding.
		</p>
		<div class="ui horizontal divider"></div>
		<div style="width: 50%; margin: auto;">
			<div class="ui fluid button" {{action 'showEraseDataModal'}}>
				Import New Data
			</div>
		</div>
	</div>
</div>
{{/if}}

