{{#if showDeleteConfirmation}}
{{delete-data-confirmation notDONE = showDeleteConfirmation isImporting = importData}}
{{else if importData}}

<div class="ui grid">
	<div class="six wide column">
		<div class="ui violet small vertical steps">
			<a class="completed step" {{action "setIndex" value = 0 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Genders</div>
	    		</div>
			</a>
			<a class="active step" {{action "setIndex" value = 1 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Residencies</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 2 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Term Codes</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 3 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Course Codes</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 4 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Students</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 5 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Secondary Schools</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 6 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Student Highschool Information</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 7 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Awards and Scholarships</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 8 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Advanced Standings</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 9 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Undergraduate Record Plans</div>
	    		</div>
			</a>
			<a class=" step" {{action "setIndex" value = 10 }}>
				<i class="minus icon"></i>
				<div class="content">
	     			<div class="title" >Undergraduate Course Grades</div>
	    		</div>
			</a>
		</div>
	</div>
	<div class="ten wide stretchered column ">
		<div class="ui segment">
			<input type="file" id = "newFile" onchange = {{action 'import'}}>
		</div>
	</div>
</div>
{{else}}
<a item = "item" {{action 'showEraseDataModal'}}>
	Import Student Data...
</a>
{{/if}}

