
	{{#if showInitialDataImportBtn}}
		<a item = "item" {{action 'showEraseDataModal'}}>
			Import Student Data...
		</a>
	{{else if showDeleteConfirmation}}
		{{delete-data-confirmation notDONE = showDeleteConfirmation isImporting = importData}}
	{{else if importData}}
		<a item = "item" {{action 'importGender'}}>
			Import all the things
		</a>
	{{/if}}

