<div class = "header">
  For 
  {{#ui-dropdown class = "selection" selected = "0" onChange = (action (mut logLink))}}
  <div class = "default text">logical link</div>
  <i class = "dropdown icon"></i>
  <div class = "menu">
    {{#each logLinks as |logLink|}}
      <div class = "item" data-value = {{logLink.id}}>
        {{logLink.text}}
      </div>
    {{/each}}
  </div>
  {{/ui-dropdown}}
  of the following applying to
  {{#ui-dropdown class = "selection" selected = "0" onChange = (action (mut department))}}
  <div class = "default text">department</div>
  <i class = "dropdown icon"></i>
  <div class = "menu">
    {{#each departments as |department|}}
      <div class = "item" data-value = {{department.id}}>
        {{department.name}}
      </div>
    {{/each}}
  </div>
  {{/ui-dropdown}}
  :
</div>

<div class = "contents">
  <div id = "logicalExp">
    <div class = "ui form">
        {{#each booleanExps as |boolExp index|}}
            {{boolean-expression boolId = index currentField = boolExp.field currentOpr = boolExp.opr currentVal = boolExp.val}}
            <div class = "two wide field">
              <button class="ui inverted red icon button" {{action 'destroyBoolExp' boolExp}}>
                <i class="square minus icon"></i>
              </button>
            </div>
        {{/each}}
        {{#if creatingNewLogExp}}
          <div class = "ui segment">
          {{logical-expression level = (action "returnNewLevel")}}
            <button class = "ui inverted blue icon button" {{action 'toggleNewLogExp'}}>
              <i class = "browser icon"></i>
            </button>
          </div>
        {{else}}
          {{#each extraBoolExp as |newExp|}}
            {{boolean-expression id = count currentField = newExp.field currentOpr = newExp.opr currentVal = newExp.val}}
            <button class = "ui inverted green icon button" {{action 'addBoolExp' newExp}}>
              <i class = "square add icon"></i>
            </button>
            <button class = "ui inverted blue icon button" {{action 'toggleNewLogExp'}}>
              <i class = "browser icon"></i>
            </button>
          {{/each}}
        {{/if}}
    </div>
  </div>
</div>
















