{{#if MSR01IsPermitted }}
  {{#if isEditing }}
    <h2>Add New System Role</h2>
    <div class="ui form">
      <div class="field">
        <label>Role name</label>
        {{input value=name type="text" placeholder="Enter role name" }}
      </div>
    </div>
    <br>
    <button class="ui cstmLBlue button" {{action 'save'}}>Save</button>
    <button class="ui red button" {{action 'cancel'}}>Cancel</button>
  {{else}}
  <div class="ui centered grid">
    <div class="eight wide column">
      <h2 class="ui header" style="margin-top: 2px;">Manage Roles</h2>
    </div>
  </div>

    <table class="ui table" style="margin-top: 25px;">
      <thead>
      <tr>
        <th>System Role Name</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      {{#each roleCodeModel as |oneCode|}}
        <tr>
          <td>
            {{oneCode.name}}
          </td>
          <td>
            {{manage-permission roleID = oneCode.id}}

          </td>
          <td class="right aligned">
            {{delete-role key=oneCode.id}}
          </td>
        </tr>
      {{/each}}
        <tr>
          <td colspan = "3" class = "middle right aligned">
              <button class="ui green inverted button" {{action 'addNewRole'}}>Add New Role &nbsp; <i class = "add square icon"></i></button>
          </td>
        </tr>
      </tbody>
    </table>


  {{/if}}
{{else}}
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (MSR01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information.</p>
    </div>
  </div>
{{/if}}
