{{#if isEditing }}
    {{#if isAdding}}
      {{#if loadRuleObj}}
      {{parameter-builder ruleEditing = ruleObj showWindow = isAdding}}
      {{/if}}
    {{/if}}
    <div class="ui centered grid">
      <div class="eight wide column">
        <h2 class="ui header" style="margin-top: 2px;">Manage Adjudication Rule</h2>
      </div>
    </div>
    <form class="ui form">
        <div class="inline field">
            <label>Adjudication Category:</label>
              {{#ui-dropdown class = "selection" selected = ruleCategory onChange = (action (mut ruleCategory)) }}
                <div class = "default text">Adjudication Category</div>
                <i class = "dropdown icon"></i>
                <div class = "menu">
                    <div class = "item" data-value = 123>
                        No category
                    </div>
                    {{#each categoryModel as |category|}}
                    <div class = "item" data-value = {{category.id}}>
                        {{category.name}}
                    </div>
                    {{/each}}
                </div>
            {{/ui-dropdown}}
        </div>
        <div class="inline field">
            <label>Adjudication name:</label>
            {{input value=ruleName type="text" placeholder="enter rule name" }}
        </div>
        <div class="inline field">
            <label>Adjudication code:</label>
            {{input value=ruleCode type="text" placeholder="enter rule code" }}
        </div>
        <div class="inline field">
            <label>Associated departments:</label>
            {{#ui-dropdown class="fluid multiple selection" selected=[selectedDepartments] onChange=(action (mut selectedDepartments))}}
                <input type = "hidden" name = "source" value = {{selectedDepartments}}>
                <i class="dropdown icon"></i>
                <div class="default text">Select Departments</div>
                <div class="menu">                        
                    {{#each departmentModel as |department|}}
                    <div class="item"   data-value= "{{department.id}}" >
                        {{department.name}}
                    </div>
                    {{/each}}
                </div>
            {{/ui-dropdown}}
        </div>
        <div class="inline field">
            {{ui-checkbox label="Flag this rule for manual review" checked=ruleFlagged onChange=(action (mut ruleFlagged))}}
        </div>
        <div class="inline field">
            <label>Adjudication rule parameters:</label>
            <button id="addFirst" class="ui cstmTurq button" {{action 'addFirstRule'}}>Edit rule parameters</button>
        </div>
    </form>
    <br>
    <button class="ui cstmLBlue button" {{action 'save'}}>Save</button>
    <button class="ui button" {{action 'cancel' ruleObj}}>Cancel</button>
{{else}}
    <div class="ui centered grid">
      <div class="eight wide column">
        <h2 class="ui header" style="margin-top: 2px;">Manage Adjudication Rules</h2>
      </div>
    </div>

    <table class="ui table" style="margin-top: 25px;">
      <thead>
      <tr>
        <th>Rule Name</th>
        <th>Rule Code</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      {{#each assessmentCodeModel as |oneRule|}}
        <tr>
          <td>
            {{oneRule.name}}
          </td>
          <td>
              {{oneRule.code}}
          </td>
          <td>
              <button class = "ui cstmTurq button" {{action "setRuleFields" oneRule}}>Manage Rule</button>
          </td>
          <td class="right aligned">
               <button class="ui mini circular icon button" {{action 'deleteRule' oneRule}} title="Delete">
                  <i class="remove icon"></i>
              </button>
          </td>
        </tr>
      {{/each}}
        <tr>
          <td colspan="4" class = "middle right aligned">
            <button class="ui green inverted button" {{action 'addNewRule'}}>Add New Rule &nbsp; <i class = "add square icon"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
{{/if}}
