<div class="ui centered grid">
  <div class="eight wide column">
    <h2 class="ui header" style="margin-top: 2px;">Manage Adjudication Categories</h2>
  </div>
</div>

<table class="ui fixed table">
    <thead>
    <tr>
        <th>Adjudication Category Name</th>
        <th>Adjudication Level</th>
        <th></th>
    </tr>
    </thead>
    {{#each adjudicationCategories as |adjudicationCategory|}}
    <tr>
        <td>
            <div class="ui fluid input">
                {{input type="text" value = adjudicationCategory.name}}
            </div>
        </td>
        <td style="overflow:visible;">
            {{#ui-dropdown class = "selection" selected = adjudicationCategory.programYear onChange = ( action (mut adjudicationCategory.programYear))}}
                <div class = "default text">Adjudication Level</div>
                <i class = "dropdown icon"></i>
                <div class = "menu">
                    <div class = "item" data-value = "5">
                        All Years
                    </div>
                    <div class = "item" data-value = "1">
                        Year 1
                    </div>
                    <div class = "item" data-value = "2">
                        Year 2
                    </div>
                    <div class = "item" data-value = "3">
                        Year 3
                    </div>
                    <div class = "item" data-value = "4">
                        Year 4
                    </div>
                </div>
            {{/ui-dropdown}}
        </td>
        <td>
            <div class="ui inverted buttons">
                <button class="ui cstmLBlue inverted button" {{action "saveCategory" adjudicationCategory}}>Save</button>
                <div class="divider"/>
                <button class="ui red inverted button" {{action "deleteCategory" adjudicationCategory}}>Delete</button>
            </div>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td>
            <div class="ui fluid input">
                {{input type="text" value = newCategoryName placeholder="Category Name"}}
            </div>
        </td>
        <td style="overflow:visible;">
            {{#ui-dropdown class = "selection" selected = newCategoryYear onChange = ( action (mut newCategoryYear))}}
                <div class = "default text">Adjudication Level</div>
                <i class = "dropdown icon"></i>
                <div class = "menu">
                    <div class = "item" data-value = "5">
                        All Years
                    </div>
                    <div class = "item" data-value = "1">
                        Year 1
                    </div>
                    <div class = "item" data-value = "2">
                        Year 2
                    </div>
                    <div class = "item" data-value = "3">
                        Year 3
                    </div>
                    <div class = "item" data-value = "4">
                        Year 4
                    </div>
                </div>
            {{/ui-dropdown}}
        </td>
        <td>
            <button class="ui inverted green button" {{action "addCategory"}}> 
            Add &nbsp; <i class="add square icon"></i>
            </button>
        </td>
    </tr>
</table>
