<table class="ui fixed table">
    <thead>
    <tr>
        <th>Adjudication Catagories</th>
        <th><!--spacer--></th>
    </tr>
    </thead>
    {{#each adjudicationCategories as |adjudicationCategory|}}
    <tr>
        <td>
            <div class="ui fluid input">
                {{input type="text" value = adjudicationCategory.name}}
            </div>
        </td>
        <td>
            <div class="ui inverted buttons">
                <button class="ui blue inverted button" {{action "saveCategory" adjudicationCategory}}>Save</button>
                <div class="divider"/>
                <button class="ui red inverted button" {{action "deleteCategory" adjudicationCategory}}>Delete</button>
            </div>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td>
            <div class="ui fluid input">
                {{input type="text" value = newCategoryName}}
            </div>
        </td>
        <td>
            <button class="ui inverted green button" {{action "addCategory"}}> 
            Add &nbsp; <i class="add square icon"></i>
            </button>
        </td>
    </tr>
</table>
