{{#if isEditing }}
<h2>Add new system feature</h2>
<div class="ui form">
    <div class="inline field">
        <label>Rule code</label>
        {{input value=code type="text" placeholder="enter rule code" }}
    </div>
    <div class="inline field">
        <label>Rule description</label>
        {{input value=ruleDescription type="text" placeholder="enter rule description" }}
    </div>
    <div class="inline field">
        <label>Rule parameters</label>
        {{input value=ruleParameter type="text" placeholder="enter rule parameters" }}
    </div>
    <div class="inline field">
        <label>Department</label>
        {{input type="checkbox"}}
    </div>
</div>
<br>
<button class="ui button" {{action 'save'}}>Save</button>
<button class="ui button" {{action 'cancel'}}>Cancel</button>
{{else}}
    <div class="ui grid">
    <div class="eight wide column">
        <h2 class="ui header" style="margin-top: 2px;">Manage Adjudication Rules</h2>
    </div>
    <div class="eight wide column right aligned">
        <button class="ui button" {{action 'addNewRule'}}>Add New Rule</button>
    </div>
    </div>
    <table class="ui table" style="margin-top: 25px;">
      <thead>
      <tr>
        <th>Rule Name</th>
        <th>Rule Code</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      {{#each assessmentCodeModel as |oneRule|}}
        <tr>
          <td>
            {{oneRule.name}}
          </td>
          <td>
              {{oneRule.code}}
          </td>
          <td>
              <label>Manage rule</label>
          </td>
          <td class="right aligned">
              <label>delete</label>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
{{/if}}
