<div class="ui center aligned header">
  <h2>Students Records Data Entry</h2>
</div>

<!-- Show the menu bar-->
<div class="ui stackable container inverted ten item menu">
  <a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undoSave'}}>
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item" {{action 'firstStudent'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousStudent'}}>
    <i class="arrow left icon"></i>
    Previous
  </a>
  <a class="item" {{action 'nextStudent'}}>
    <i class="arrow right icon"></i>
    Next
  </a>
  <a class="item" {{action 'lastStudent'}}>
    <i class="step forward icon"></i>
    Last
  </a>
  <a class="item" {{action 'allStudents'}}>
    <i class="content icon"></i>
    All Records
  </a>
  <a class="item" {{action 'findStudent'}}>
    <i class="search icon"></i>
    Find Record
  </a>
  <a class = "item" {{action 'helpInfo'}}>
    <i class="help icon"></i>
    Help
  </a>
  <a class = "item" {{action 'createStudent'}}>
    <i class="add user icon"></i>
    Add Student
  </a>
</div> 

{{#if showDeleteConfirmation}}
  {{delete-student INDEX = currentIndex student = currentStudent showWindow = showDeleteConfirmation}}
{{/if}}
{{#if showAllStudents}}
  <!-- Note that offset is an "in" and "out" parameter !-->
 {{all-students INDEX = currentIndex notDONE = showAllStudents offset = offset studentsModel = studentsRecords}} 
{{else if showAddStudent}}
  {{add-student INDEX = currentIndex student = currentStudent notDONE = showAddStudent}} 
{{else if showFindStudent}}
 {{find-student notDONE = showFindStudent gender = genderModel residency=residencyModel studentsRecords=studentsRecords}}
{{else if showHelp}}
  {{show-help}}
{{else}}
  <!-- Show data entry form -->
    <div class="ui centered grid">
        <div class="one column centered row">
            <div class="column">
                <div class="ui buttons">
                  <div class="ui button" {{action "previousStudent"}}>
                      <i class="step backward icon"></i> First
                  </div>
                  <div class="ui button" {{action "previousStudent"}}>
                      <i class="arrow left icon"></i> Prev
                  </div>
                  <div class="ui button" {{action "nextStudent"}}>
                      Next <i class="arrow right icon"></i>
                  </div>
                  <div class="ui button" {{action "nextStudent"}}>
                      Last <i class="step forward icon"></i>
                  </div>
                </div>
            </div>
            <!--
            <div class="column">
                <div class="fluid ui button" {{action "previousStudent"}}>
                    <i class="arrow left icon"></i> Prev
                </div>
            </div>
            <div class="column">
                <div class="fluid ui button" {{action "nextStudent"}}>
                    Next <i class="arrow right icon"></i>
                </div>
            </div>
            <div class="column">
                <div class="fluid ui button" {{action "nextStudent"}}>
                    Last <i class="step forward icon"></i>
                </div>
            </div>-->
        </div>
        {{#each studentsRecords as |student|}}
            <div class="row">
                <div class="ten wide column">
                    <button class="fluid ui button">
                        {{student.studentNumber}} - {{student.firstName}} {{student.lastName}}
                    </button>
                </div>
                <div class="three wide column">
                    <button class="fluid ui inverted red icon button" {{action 'deleteCurrentStudent'}}>
                        Delete <i class="trash icon"></i>
                    </button>
                </div>
            </div>
        {{/each}}
        <div class="centered row">
            <div class="centered column">
                <div class="ui button" {{action "previousStudent"}}>
                    <i class="arrow left icon"></i>
                </div>
                <div class="ui button" {{action "nextStudent"}}>
                    <i class="arrow right icon"></i>
                </div>
            </div>
        </div>
    </div>
{{/if}}