<div class = "ui center aligned padded grid container">
  <div class = "ui basic segment">
    <div class = "ui huge header">
      Admin Portal
    </div>
  </div>
</div>
{{#if ADM01IsPermitted }}
<div class = "ui grid" style = "margin:0">
    <div class = "sixteen wide column" style="padding-bottom:0">
        <div class = "ui secondary pointing fluid four item menu main">
            <div style="cursor: pointer;" class="active item" data-tab="ManageUsers">User Accounts</div>
            <div style="cursor: pointer;" class="item" data-tab="ManageRoles">System Roles</div>
            <div style="cursor: pointer;" class="item" data-tab="ManageFeatures">System Features/Privileges</div>
            <div style="cursor: pointer;" class="item" data-tab="ManageAdjudication">Manage Adjudication</div>
        </div>
    </div>
</div>

<div class = "ui tab segment main active" data-tab="ManageUsers">
  {{manage-users}}
</div>
<div class = "ui tab segment main" data-tab="ManageRoles">
  {{manage-roles}}
</div>
<div class = "ui tab segment main" data-tab="ManageFeatures">
  {{manage-features}}
</div>
<div class = "ui tab segment main" data-tab="ManageAdjudication">
  <div class = "ui two column centered relaxed grid">
    <div class = "three wide column">
      <div class = "ui secondary vertical fluid pointing menu">
        <div style="cursor: pointer;" class="active item" data-tab="Rules">Manage Rules</div>
        <div style="cursor: pointer;" class="item" data-tab="Categories">Manage Categories</div>
      </div>
    </div>
    <div class = "twelve wide column">
      <div class = "ui tab segment active" data-tab="Rules" style = "margin-top:0">
        {{manage-adjudication-rules}}
      </div>
      <div class = "ui tab segment" data-tab="Categories" style = "margin-top:0">
        {{manage-adjudication-categories}}
      </div>
    </div>
  </div>
</div>

{{else}}
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (ADM01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information.</p>
    </div>

  </div>

{{/if}}