<div class="ui center aligned header">
  <h2>System Codes</h2>
</div>


{{#if showGenderDeleteConfirmation}}
    {{delete-gender gender = currentGender showWindow = showGenderDeleteConfirmation}}
    {{else if showResidencyDeleteConfirmation}}
    {{delete-residency residency = currentResidency showWindow = showResidencyDeleteConfirmation}}
    {{else if showCourseCodeDeleteConfirmation}}
    {{delete-course-code courseCode = currentCourseCode showWindow = showCourseCodeDeleteConfirmation}}
{{/if}}

  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">
    <div style="cursor: pointer;" class="active item" data-tab="gender">Gender</div>
    <div style="cursor: pointer;" class="item" data-tab="residency">Residency</div>
    <div style="cursor: pointer;" class="item" data-tab="courseCode">Course Codes</div>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="gender">
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Gender</th>
            <th><!--spacer--></th>
        </tr>
        </thead>
        {{#each genderModel as |gender|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = gender.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveGender" gender}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteGender" gender}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newGenderName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addGender"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
    </table>
  </div>

  <div class="ui bottom attached tab segment" data-tab="residency">
      <table class="ui fixed table">
        <thead>
            <tr>
            <th>Residency</th>
            <th><!--spacer--></th>
            
            </tr>
        </thead>
        
        {{#each residencyModel as |residency|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = residency.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveResidency" residency}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteResidency" residency}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newResidencyName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addResidency"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        </table>
  </div>

<div class="ui bottom attached tab segment" data-tab="courseCode">
    <table class="ui fixed table">
        <thead>
            <tr>
            <th>Course Codes</th>
            <th><!--spacer--></th>
            
            </tr>
        </thead>
        {{#each courseCodeModel as |courseCode|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveCourseCode" courseCode}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteCourseCode" courseCode}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addCourseCode"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
   
    </table>
 
 </div>