<div class="ui center aligned header">
  <h2>System Codes</h2>
</div>


{{#if showGenderDeleteConfirmation}}
    {{delete-gender gender = currentGender showWindow = showGenderDeleteConfirmation}}
    {{else if showResidencyDeleteConfirmation}}
{{/if}}

  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">
    <div style="cursor: pointer;" class="active item" data-tab="gender">Gender</div>
    <div style="cursor: pointer;" class="item" data-tab="residency">Residency</div>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="gender">
    <table>
        <tr>
            <th>Code</th>
            <th>Gender</th>
        </tr>
        {{#each genderModel as |gender|}}
        <tr>
            <td>{{gender.id}}</td>
            <td>{{input type="text" value = gender.name}}</td>
            <td>
                <button {{action "saveGender" gender}}>Save</button>
                <button {{action "deleteGender" gender}}>Delete</button>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td></td>
            <td>
                {{input type="text" value = newGenderName}}
            </td>
            <td>
                <button {{action "addGender"}}>Add</button>
            </td>
        </tr>
    </table>
  </div>

  <div class="ui bottom attached tab segment" data-tab="residency">
      <table>
        <tr>
          <th>Code</th>
          <th>Residency</th>
        </tr>
        {{#each residencyModel as |residency|}}
        <tr>
        <td>{{residency.id}}</td>
        <td>{{input type="text" value = residency.name}}</td>
        <td>
          <button {{action "editResidency" residency}}>Save</button>
          <button {{action "deleteResidency" residency}}>Delete</button>
          </td>
        </tr>

        {{/each}}
        <tr>
          <td></td>
          <td>
            <input type="text">
            </td>
            <td>
              <button {{action "addResidency"}}>Add</button>
            </td>
        </tr>
        </table>
  </div>
  