<!-- <div class="ui center aligned header">
  <h2>System Codes</h2>
</div>
 -->

{{#if showDeleteGenderConfirmation}}
    {{delete-gender gender = currentGender showWindow = showDeleteGenderConfirmation}}
    {{else if showDeleteResidencyConfirmation}}
    {{delete-residency residency = currentResidency showWindow = showDeleteResidencyConfirmation}}
    {{else if showCourseCodeDeleteConfirmation}}
    {{delete-course-code courseCode = currentCourseCode showWindow = showCourseCodeDeleteConfirmation}}
    {{else if showDeleteHighSchoolConfirmation}}
    {{delete-high-school highSchool = currentHighSchool showWindow = showDeleteHighSchoolConfirmation}}
    {{else if showDeleteHighSchoolSubjectConfirmation}}
    {{delete-high-school-subject highSchoolSubject = currentHighSchoolSubject showWindow = showDeleteHighSchoolSubjectConfirmation}}
    {{else if showDeleteTermCodeConfirmation}}
    {{delete-term-code termCode = currentTermCode showWindow = showDeleteTermCodeConfirmation}}
    {{else if showDeleteCourseGroupingConfirmation}}
    {{delete-course-grouping courseGrouping = currentCourseGrouping showWindow = showDeleteCourseGroupingConfirmation}}
    {{else if showAddCoursesModal}}
    {{add-new-course-grouping courseGroup=currentCourseGrouping showWindow = showAddCoursesModal}}
    {{else if }}

{{/if}}

  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">
    <div style="cursor: pointer;" class="active item" data-tab="coursecode">Course Codes</div>
    <div style="cursor: pointer;" class="item" data-tab="courseGroup">Course Groupings</div>
    <div style="cursor: pointer;" class="item" data-tab="gender">Gender</div>
    <div style="cursor: pointer;" class="item" data-tab="hsSubject">High School Subjects</div>
    <div style="cursor: pointer;" class="item" data-tab="residency">Residency</div>
    <div style="cursor: pointer;" class="item" data-tab="highschool">Secondary Schools</div>
    <div style="cursor: pointer;" class="item" data-tab="termCode">Term Codes</div>
  </div>

  <div class="ui bottom attached tab segment" data-tab="gender">
    <table class="ui fixed table">
        <thead>
        <tr>
            <th class="eight wide">Gender</th>
            <th class="eight wide"><!--spacer--></th>
        </tr>
        </thead>
        {{#each genderModel as |gender|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = gender.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveGender" gender}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteGender" gender}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newGenderName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addGender"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{genderOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
  </div>

  <div class="ui bottom attached tab segment" data-tab="residency">
      <table class="ui fixed table">
        <thead>
            <tr>
            <th class="eight wide">Residency</th>
            <th class="eight wide"><!--spacer--></th>
            
            </tr>
        </thead>
        
        {{#each residencyModel as |residency|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = residency.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveResidency" residency}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteResidency" residency}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newResidencyName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addResidency"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{residencyOutput}}}</label>
		        </div>
            </td>
        </tr>
        </table>
  </div>

<div class="ui bottom attached active tab segment" data-tab="coursecode">
    <table class="ui table">
        <thead>
            <tr>
            <th class="two wide">Course Letter</th>
            <th class="three wide">Course Number</th>
            <th><!--spacer--></th>
            <th>Course Name</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th>Unit</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            
            </tr>
        </thead>
        
        {{#each courseCodeRecords as |courseCode|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.courseLetter}}
                </div>
            </td>

            <td colspan="2">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.courseNumber}}
                </div>
            </td>

            <td colspan="3">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.name}}
                </div>
            </td>
            <td style="width:90px;">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.unit}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveCourseCode" courseCode}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteCourseCode" courseCode}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeCourseLetter}}
                </div>
            </td>
    
            <td colspan="2">
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeCourseNumber}}
                </div>
            </td>


            <td colspan="3">
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeName}}
                </div>
            </td>
                
            <td style="width:90px;"> 
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeUnit}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addCourseCode"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare courseCodePageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '>' 3)}}
                      <a class="item" {{action "switchCourseCodePage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare courseCodePageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare courseCodePageNumber '===' 5)}}
                      <a class="item" {{action "switchCourseCodePage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '>' 2)}}
                      <a class="item" {{action "switchCourseCodePage" (inline-math courseCodePageNumber '-' 2)}}>
                        {{inline-math courseCodePageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '>' 1)}}
                      <a class="item" {{action "switchCourseCodePage" (inline-math courseCodePageNumber '-' 1)}}>
                        {{inline-math courseCodePageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{courseCodePageNumber}}
                    </a> 

                    {{#if (inline-compare courseCodePageNumber '<' totalCourseCodePages)}}
                      <a class="item" {{action "switchCourseCodePage" (inline-math courseCodePageNumber '+ ' 1)}}>
                        {{inline-math courseCodePageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '<' (inline-math totalCourseCodePages '- ' 1))}}
                      <a class="item" {{action "switchCourseCodePage" (inline-math courseCodePageNumber '+ ' 2)}}>
                        {{inline-math courseCodePageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '<' (inline-math totalCourseCodePages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare courseCodePageNumber '===' (inline-math totalCourseCodePages ' - ' 4))}}
                        <a class="item" {{action "switchCourseCodePage" (inline-math totalCourseCodePages '- ' 1 )}}>
                          {{inline-math totalCourseCodePages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '<' (inline-math totalCourseCodePages '- ' 2))}}
                      <a class="item" {{action "switchCourseCodePage" totalCourseCodePages}}>
                        {{totalCourseCodePages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare courseCodePageNumber '>' (inline-math totalCourseCodePages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                </div>
            </td>
        </tr>    
    </table>
 </div>

 <div class="ui bottom attached tab segment" data-tab="highschool">
     <table class="ui table">
        <thead>
            <tr>
            <th class="eight wide">Secondary Schools</th>
            <th class="eight wide"><!--spacer--></th>
            </tr>
        </thead>

        {{#each highSchoolRecords as |highSchool|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = highSchool.schoolName}}
                </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveHighSchool" highSchool}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteHighSchool" highSchool}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newHighSchoolName}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addHighSchool"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{highSchoolOutput}}}</label>
		        </div>
            </td>
        </tr>

         <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare highSchoolPageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '>' 3)}}
                      <a class="item" {{action "switchHighSchoolPage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare highSchoolPageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare highSchoolPageNumber '===' 5)}}
                      <a class="item" {{action "switchHighSchoolPage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '>' 2)}}
                      <a class="item" {{action "switchHighSchoolPage" (inline-math highSchoolPageNumber '-' 2)}}>
                        {{inline-math highSchoolPageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '>' 1)}}
                      <a class="item" {{action "switchHighSchoolPage" (inline-math highSchoolPageNumber '-' 1)}}>
                        {{inline-math highSchoolPageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{highSchoolPageNumber}}
                    </a> 

                    {{#if (inline-compare highSchoolPageNumber '<' totalHighSchoolPages)}}
                      <a class="item" {{action "switchHighSchoolPage" (inline-math highSchoolPageNumber '+ ' 1)}}>
                        {{inline-math highSchoolPageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '<' (inline-math totalHighSchoolPages '- ' 1))}}
                      <a class="item" {{action "switchHighSchoolPage" (inline-math highSchoolPageNumber '+ ' 2)}}>
                        {{inline-math highSchoolPageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '<' (inline-math totalHighSchoolPages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare highSchoolPageNumber '===' (inline-math totalHighSchoolPages ' - ' 4))}}
                        <a class="item" {{action "switchHighSchoolPage" (inline-math totalHighSchoolPages '- ' 1 )}}>
                          {{inline-math totalHighSchoolPages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '<' (inline-math totalHighSchoolPages '- ' 2))}}
                      <a class="item" {{action "switchHighSchoolPage" totalHighSchoolPages}}>
                        {{totalHighSchoolPages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare highSchoolPageNumber '>' (inline-math totalHighSchoolPages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                </div>
            </td>
        </tr> 
    </table>
</div>

<div class="ui bottom attached tab segment" data-tab="hsSubject">
     <table class="ui table">
        <thead>
          <th class="two wide">Name</th>
          <th class="two wide">Description</th>
          <th class="two wide">Level</th>
          <th class="two wide">Source</th>
          <th class="two wide">Unit</th>
          <th class="two wide"><!--spacer--></th>
        </thead>

        {{#each courseArray as |highSchoolSubject|}}
        <tr>

            <td>
                <div class="ui fluid input">
                    {{input type="text" value = highSchoolSubject.name}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.description}}
                </div>
            </td>
           
            <td>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.level}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.source}}
                </div>
            </td>

            <td>
              <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.unit}}
              </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveHighSchoolSubject" highSchoolSubject}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteHighSchoolSubject" highSchoolSubject}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr> 
        {{/each}}
        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newHighSchoolSubjectName}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = newHighSchoolSubjectDescriptionName}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = newHighSchoolSubjectLevel}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = newHighSchoolSubjectSource}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = newHighSchoolSubjectUnit}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addHighSchoolSubject"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>
                <div>
			        <label>{{{highSchoolCourseOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
</div>

<div class="ui bottom attached tab segment" data-tab="termCode">
     <table class="ui table">
        <thead>
            <tr>
            <th class="eight wide">Term Codes</th>
            <th class="eight wide"><!--spacer--></th>
            </tr>
        </thead>

        {{#each termCodeRecords as |termCode|}}
          <tr>  
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = termCode.name}}
                </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveTermCode" termCode}}>Save
                        &nbsp; <i class="save icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteTermCode" termCode}}>Delete
                        &nbsp; <i class="trash icon"></i>
                    </button>
                </div>
            </td>
        </tr>
    
        {{/each}}

        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newTermCodeName}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addTermCode"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{termCodeOutput}}}</label>
		        </div>
            </td>
        </tr>

         <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare termCodePageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '>' 3)}}
                      <a class="item" {{action "switchTermCodePage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare termCodePageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare termCodePageNumber '===' 5)}}
                      <a class="item" {{action "switchTermCodePage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '>' 2)}}
                      <a class="item" {{action "switchTermCodePage" (inline-math termCodePageNumber '-' 2)}}>
                        {{inline-math termCodePageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '>' 1)}}
                      <a class="item" {{action "switchTermCodePage" (inline-math termCodePageNumber '-' 1)}}>
                        {{inline-math termCodePageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{termCodePageNumber}}
                    </a> 

                    {{#if (inline-compare termCodePageNumber '<' totalTermCodePages)}}
                      <a class="item" {{action "switchTermCodePage" (inline-math termCodePageNumber '+ ' 1)}}>
                        {{inline-math termCodePageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '<' (inline-math totalTermCodePages '- ' 1))}}
                      <a class="item" {{action "switchTermCodePage" (inline-math termCodePageNumber '+ ' 2)}}>
                        {{inline-math termCodePageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '<' (inline-math totalTermCodePages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare termCodePageNumber '===' (inline-math totalTermCodePages ' - ' 4))}}
                        <a class="item" {{action "switchTermCodePage" (inline-math totalTermCodePages '- ' 1 )}}>
                          {{inline-math totalTermCodePages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '<' (inline-math totalTermCodePages '- ' 2))}}
                      <a class="item" {{action "switchTermCodePage" totalTermCodePages}}>
                        {{totalTermCodePages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare termCodePageNumber '>' (inline-math totalTermCodePages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                </div>
            </td>
        </tr> 

    </table>
</div>

<div class="ui bottom attached tab segment" data-tab="courseGroup">
    <table class="ui table">
        <thead>
            <tr>
                <th class="six wide">Grouping Name</th>
                <th class="ten wide"><!--spacer--></th>
            </tr>
        </thead>
        
        {{#each courseGroupingModel as |courseGrouping|}}
         <tr>   
            <td>
                <b>{{courseGrouping.name}}</b>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui inverted green button" {{action "modifyCourses" courseGrouping}}>Modify Courses
                        &nbsp; <i class="add square icon"></i>
                    </button>
                    <div class="divider"/>
                    <button class="ui inverted red button" {{action "deleteCourseGrouping" courseGrouping}}> Delete Grouping
                        &nbsp; <i class="trash icon"></i>
                    </button>

                </div>
            </td>
        </tr>
        {{/each}}
            

    </table>
    
    <br><br><br>

    <div class="ui form">
        <div>
            <label>Grouping Name</label>
            {{input type="text" value = newCourseGroupingName}}
        </div>
    </div>
    <br>
    <button class="ui button" {{action "addCourseGrouping"}}>Add</button>
        <div>
            <label>{{courseGroupingOutput}}</label>
        </div>
</div>