{{#if ADM01IsPermitted }}

  <div class="ui centered grid">
    <div class="three wide column">
      <div class="ui violet vertical pointing menu">
        <div class="adminMenu">
          <a class="item active" {{action "manageUsers"}}>
            <i class="large users icon"></i>
            Users Accounts
          </a>
        </div>
        <div class="adminMenu">
          <a class="item" {{action "manageRoles"}}>
            <i class="large list layout icon"></i>
            System Roles
          </a>
        </div>
        <div class="adminMenu">
          <a class="item " {{action "manageFeatures"}}>
            <i class="large lock icon"></i>
            System Features/Privileges
          </a>
        </div>
        <div class="adminMenu">
          <a class="item " {{action "manageAdjudication"}}>
            <i class="large lock icon"></i>
            Adjudication Rules
          </a>
        </div>
        <div class="adminMenu">
          <a class="item " {{action "manageAdjudicationCategories"}}>
            <i class="large lock icon"></i>
            Adjudication Categories
          </a>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui segment container">
          <br>
        {{#if isUsersShowing}}
          {{manage-users}}
        {{/if}}
        {{#if isRolesEditing }}
          {{manage-roles}}
        {{/if}}
        {{#if isFeaturesEditing }}
          {{manage-features}}
        {{/if}}
        {{#if isAdjudicationRulesEditing}}
          {{manage-adjudication-rules}}
        {{/if}}
        {{#if isAdjudicationCategoriesIsShowing}}
          {{manage-adjudication-categories}}
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (ADM01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information.</p>
    </div>

  </div>

{{/if}}