<!-- <div class="ui center aligned header">
  <h2>System Codes</h2>
</div>
 -->

{{#if showDeleteGenderConfirmation}}
    {{delete-gender gender = currentGender showWindow = showDeleteGenderConfirmation}}
    {{else if showDeleteResidencyConfirmation}}
    {{delete-residency residency = currentResidency showWindow = showDeleteResidencyConfirmation}}
    {{else if showCourseCodeDeleteConfirmation}}
    {{delete-course-code courseCode = currentCourseCode showWindow = showCourseCodeDeleteConfirmation}}
    {{else if showDeleteHighSchoolConfirmation}}
    {{delete-high-school highSchool = currentHighSchool showWindow = showDeleteHighSchoolConfirmation}}
    {{else if showDeleteHighSchoolSubjectConfirmation}}
    {{delete-high-school-subject highSchoolSubject = currentHighSchoolSubject showWindow = showDeleteHighSchoolSubjectConfirmation}}
    {{else if showDeleteTermCodeConfirmation}}
    {{delete-term-code termCode = currentTermCode showWindow = showDeleteTermCodeConfirmation}}
{{/if}}

  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">
    <div style="cursor: pointer;" class="active item" data-tab="gender">Gender</div>
    <div style="cursor: pointer;" class="item" data-tab="residency">Residency</div>
    <div style="cursor: pointer;" class="item" data-tab="coursecode">Course Codes</div>
    <div style="cursor: pointer;" class="item" data-tab="highschool">Secondary Schools</div>
    <div style="cursor: pointer;" class="item" data-tab="hsSubject">High School Subjects</div>
    <div style="cursor: pointer;" class="item" data-tab="termCode">Term Codes</div>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="gender">
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Gender</th>
            <th><!--spacer--></th>
        </tr>
        </thead>
        {{#each genderModel as |gender|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = gender.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveGender" gender}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteGender" gender}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newGenderName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addGender"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{genderOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
  </div>

  <div class="ui bottom attached tab segment" data-tab="residency">
      <table class="ui fixed table">
        <thead>
            <tr>
            <th>Residency</th>
            <th><!--spacer--></th>
            
            </tr>
        </thead>
        
        {{#each residencyModel as |residency|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = residency.name}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveResidency" residency}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteResidency" residency}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newResidencyName}}
                </div>
            </td>
            <td>
                <button class="ui inverted green button" {{action "addResidency"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{residencyOutput}}}</label>
		        </div>
            </td>
        </tr>
        </table>
  </div>

<div class="ui bottom attached tab segment" data-tab="coursecode">
    <table class="ui table">
        <thead>
            <tr>
            <th>Course Codes</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            
            </tr>
        </thead>
        <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare pageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 3)}}
                      <a class="item" {{action "switchPage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare pageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare pageNumber '===' 5)}}
                      <a class="item" {{action "switchPage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 2)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 2)}}>
                        {{inline-math pageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 1)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 1)}}>
                        {{inline-math pageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{pageNumber}}
                    </a> 

                    {{#if (inline-compare pageNumber '<' totalPages)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 1)}}>
                        {{inline-math pageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 1))}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 2)}}>
                        {{inline-math pageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare pageNumber '===' (inline-math totalPages ' - ' 4))}}
                        <a class="item" {{action "switchPage" (inline-math totalPages '- ' 1 )}}>
                          {{inline-math totalPages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 2))}}
                      <a class="item" {{action "switchPage" totalPages}}>
                        {{totalPages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' (inline-math totalPages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                </div>
            </td>
        </tr>    
        {{#each courseCodeRecords as |courseCode|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.courseLetter}}
                </div>
            </td>

            <td colspan="2">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.courseNumber}}
                </div>
            </td>

            <td colspan="3">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.name}}
                </div>
            </td>
            <td style="width:90px;">
                <div class="ui fluid input">
                    {{input type="text" value = courseCode.unit}}
                </div>
            </td>
            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveCourseCode" courseCode}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteCourseCode" courseCode}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeCourseLetter}}
                </div>
            </td>
    
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeCourseNumber}}
                </div>
            </td>


            <td>
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeName}}
                </div>
            </td>
                
            <td> 
                <div class="ui fluid input">
                    {{input type="text" value = newCourseCodeUnit}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addCourseCode"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
    </table>
 </div>

 <div class="ui bottom attached tab segment" data-tab="highschool">
     <table class="ui table">
        <thead>
            <tr>
            <th>Secondary Schools</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            </tr>
        </thead>

        <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare pageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 3)}}
                      <a class="item" {{action "switchPage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare pageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare pageNumber '===' 5)}}
                      <a class="item" {{action "switchPage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 2)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 2)}}>
                        {{inline-math pageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 1)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 1)}}>
                        {{inline-math pageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{pageNumber}}
                    </a> 

                    {{#if (inline-compare pageNumber '<' totalPages)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 1)}}>
                        {{inline-math pageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 1))}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 2)}}>
                        {{inline-math pageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare pageNumber '===' (inline-math totalPages ' - ' 4))}}
                        <a class="item" {{action "switchPage" (inline-math totalPages '- ' 1 )}}>
                          {{inline-math totalPages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 2))}}
                      <a class="item" {{action "switchPage" totalPages}}>
                        {{totalPages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' (inline-math totalPages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                  </div>
            </td>
        </tr> 
        {{#each highSchoolModel as |highSchool|}}
        <tr>
            <td>
                <div class="ui fluid input">
                    {{input type="text" value = highSchool.schoolName}}
                </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveHighSchool" highSchool}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteHighSchool" highSchool}}>Delete</button>
                </div>
            </td>
        </tr>
        {{/each}}
        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newHighSchoolName}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addHighSchool"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{highSchoolOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
</div>

<div class="ui bottom attached tab segment" data-tab="hsSubject">
     <table class="ui table">
        <thead>
            <tr>
            <th>High School Subjects</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            </tr>
        </thead>

        <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare pageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 3)}}
                      <a class="item" {{action "switchPage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare pageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare pageNumber '===' 5)}}
                      <a class="item" {{action "switchPage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 2)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 2)}}>
                        {{inline-math pageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 1)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 1)}}>
                        {{inline-math pageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{pageNumber}}
                    </a> 

                    {{#if (inline-compare pageNumber '<' totalPages)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 1)}}>
                        {{inline-math pageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 1))}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 2)}}>
                        {{inline-math pageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare pageNumber '===' (inline-math totalPages ' - ' 4))}}
                        <a class="item" {{action "switchPage" (inline-math totalPages '- ' 1 )}}>
                          {{inline-math totalPages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 2))}}
                      <a class="item" {{action "switchPage" totalPages}}>
                        {{totalPages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' (inline-math totalPages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                  </div>
            </td>
        </tr> 
        {{#each courseArray as |highSchoolSubject|}}
          <tr>

            <td>
              <a>Name</a>
                <div class="ui fluid input">
                    {{input type="text" value = highSchoolSubject.name}}
                </div>
            </td>

            <td>
              <a>Description</a>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.description}}
                </div>
            </td>
           
            <td>
              <a>Level</a>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.level}}
                </div>
            </td>

            <td>
              <a>Source</a>
                <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.source}}
                </div>
            </td>

            <td>
              <a>Unit</a>
              <div class="ui fluid input">
                  {{input type="text" value = highSchoolSubject.unit}}
              </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveHighSchoolSubject" highSchoolSubject}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteHighSchoolSubject" highSchoolSubject}}>Delete</button>
                </div>
            </td>
        </tr> 
        {{/each}}

        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newHighSchoolSubjectName}}
                </div>
            </td>

            <td>
                <div class="ui fluid input">
                  {{input type="text" value = newHighSchoolSubjectDescriptionName}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addHighSchoolSubject"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>
                <div>
			        <label>{{{highSchoolCourseOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
</div>

<div class="ui bottom attached tab segment" data-tab="termCode">
     <table class="ui table">
        <thead>
            <tr>
            <th>Term Codes</th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            <th><!--spacer--></th>
            </tr>
        </thead>

        <tr>
            <td colspan="12">
                <div style="margin: auto; width: 50%;">
                  <div class="ui fluid pagination nine item menu">
                    {{#if (inline-compare pageNumber '<' 5)}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 3)}}
                      <a class="item" {{action "switchPage" 1}}>
                        1
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}} 
                    {{#if (inline-compare pageNumber '>' 5)}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}} 
                      {{#if (inline-compare pageNumber '===' 5)}}
                      <a class="item" {{action "switchPage" 2}}>
                        2
                      </a> 
                      {{/if}} 
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 2)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 2)}}>
                        {{inline-math pageNumber '-' 2}}
                      </a> 
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' 1)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '-' 1)}}>
                        {{inline-math pageNumber '-' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}

                    <a class="active item">
                      {{pageNumber}}
                    </a> 

                    {{#if (inline-compare pageNumber '<' totalPages)}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 1)}}>
                        {{inline-math pageNumber '+ ' 1}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 1))}}
                      <a class="item" {{action "switchPage" (inline-math pageNumber '+ ' 2)}}>
                        {{inline-math pageNumber '+ ' 2}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 4))}}
                      <div class="disabled item">
                        ...
                      </div>
                    {{else}}
                      {{#if (inline-compare pageNumber '===' (inline-math totalPages ' - ' 4))}}
                        <a class="item" {{action "switchPage" (inline-math totalPages '- ' 1 )}}>
                          {{inline-math totalPages '- ' 1 }}
                        </a>
                      {{/if}}
                    {{/if}}
                    {{#if (inline-compare pageNumber '<' (inline-math totalPages '- ' 2))}}
                      <a class="item" {{action "switchPage" totalPages}}>
                        {{totalPages}}
                      </a>
                    {{else}}
                      <div class="disabled item"></div>
                    {{/if}}
                    {{#if (inline-compare pageNumber '>' (inline-math totalPages '-' 4))}}
                        <div class="disabled item"></div>
                    {{/if}}
                  </div>
                  </div>
            </td>
        </tr> 

        {{#each termCodeModel as |termCode|}}
          <tr>  
            <td>
              <th>Subject Name</th>
                <div class="ui fluid input">
                    {{input type="text" value = termCode.name}}
                </div>
            </td>

            <td>
                <div class="ui inverted buttons">
                    <button class="ui blue inverted button" {{action "saveTermCode" termCode}}>Save</button>
                    <div class="divider"/>
                    <button class="ui red inverted button" {{action "deleteTermCode" termCode}}>Delete</button>
                </div>
            </td>
        </tr>
    {{/each}}

        <tr>
             <td>
                <div class="ui fluid input">
                    {{input type="text" value = newTermCodeName}}
                </div>
            </td>

            <td>
                <button class="ui inverted green button" {{action "addTermCode"}}> 
                Add &nbsp; <i class="add square icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
			        <label>{{{termCodeOutput}}}</label>
		        </div>
            </td>
        </tr>
    </table>
</div>